@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Başvuru formunu açmak için aşağıdaki butana tıklayın.</h1>
    <p>
        <br>
        <br>
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply" >Başvuru Formu</a>
    </p>
</div>
