@model Candidate

<div>
    <h2>Tebrikler @Model.FullName</h2>
    <p class="lead">Başvuru işlemin <mark>tamamlandı.</mark></p>
    <p>İlgilendiğiniz için teşekkür ederiz.</p>
    <hr>
    <blockquote class="blockquote">
        Seçtiğin kurs = @Model.SelectedCourse
    </blockquote>
    <p>Başuru tarihiniz @Model.ApplyAt</p>
    <div class="btn-group">
        <a class="btn btn-outline-success" asp-action="Index">Applications</a>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Home</a>
    </div>
</div>